<div class="container">
  <div class="mt-24">
    <p class="text-center text-purple-500 tracking-widest font-semibold text-7xl">AI Name Generator</p>
  </div>

  <div class="mt-10">
    <h1 class="text-center text-lg underline decoration-sky-500">An AI-powered name generator</h1>
    <h2 class="text-center mt-2">Simply type what you want to generate a name for and you will be provided with 5 options.</h2>
  </div>
  <div class="flex" style="justify-content: center;">
    <i class="fa-solid fa-info mt-[20px] mr-[10px] text-purple-600"></i><p class="text-center mt-4">A more detailed prompt will yield better results.</p>
  </div>

  <div data-controller="form-submit" class="text-center mt-20">
    <%= form_with url: "/results", method: :post, data: { turbo: false, action: "submit->form-submit#popper" } do |form| %>
    <%= form.text_field :input, placeholder: "e.g. male dog with brown curly fur", :id => "form-input", :class => "bg-white-200 w-5/12 appearance-none border-2 border-purple-400 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 text-center", autocomplete: "off"%>
    <br>
    <%= form.button 'generate results', :class => 'mt-4 bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full'%>
    <% end %>
  </div>
  </div>
</div>
