<h1 class="font-bold underline">AI Name Generator</h1>


<h2 class="flex-col">This name generator utilises chat gpt and will generate you
5 names for your chosen subject</h2>
<h2>Don't like the options? Simply regenerate!</h2>

<h3 class="flex-col">What are you generating a name for?</h3>
<p class="flex-col">e.g baby, dog, company etc.</p>


<p class="flex-col" style="color: red;">input form to do</p>
<button class="flex-col"n>generate name!</button>
