<div class="container">
  <div class="mt-24">
    <p class="text-center tracking-tighter" style="font-size: 50px">AI Name Generator</p>
  </div>

  <div class="mt-32">
    <h2>This name generator utilises chat gpt and will generate you
    5 names for your chosen subject</h2>
    <h2>Don't like the options? Simply regenerate!</h2>
  </div>

   <div class="text-lg font-semibold text-slate-500">
      w-80
  </div>
  <br>

  <button class="shadow-lg shadow-indigo-500/40 ">test</button>

  <h3>What are you generating a name for? please specify gender</h3>
  <p>e.g baby, dog, company etc.</p>

  <div data-controller="form-submit">
    <div>
    <%= form_with url: "/results", method: :post, data: { turbo: false, action: "submit->form-submit#popper"  } do |form| %>
    <%= form.text_field :input%>
    <%= form.button 'generate resutls'%>
    <% end %>
    </div>
  </div>
</div>
