<div class="flex flex-col mt-1">
  <div>
    <h1 class="font-bold underline">AI Name Generator</h1>
  </div>

  <div>
    <h2>This name generator utilises chat gpt and will generate you
    5 names for your chosen subject</h2>
    <h2>Don't like the options? Simply regenerate!</h2>
  </div>

  <br>
  <br>
  <br>


  <h3>What are you generating a name for? please specify gender</h3>
  <p>e.g baby, dog, company etc.</p>

  <div>
    <div>
    <%= form_with url: "/results", method: :post, data: { turbo: false } do |form| %>
    <%= form.text_field :input%>
    <%= form.button 'generate resutls'%>
    <% end %>
    </div>
  </div>
</div>
