body {
  font-family: 'Borel', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(241 245 249);
  }

  #form-input:focus::placeholder {
    color: transparent !important;
  }
